<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ahorcado</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<head>
	<nav>
		<div class="container">
			<div class="row">
				<div class="nav-wrapper">
					<a class="brand-logo center">Juego del ahorcado</a>
				</div>
			</div>
		</div>
	</nav>
	<p class="col s12 m5 offset-m1">Adivina la palabra a continuacion para ganar<br>
					Tienes 6 intentos...<hr width="80%"></p>
	</head>
	<main>
	<div class="row">
		<div class="col s6 m12 offset-m2 l12">
			<div class="espacioLetras">
				<div class="letras">C</div>
				<div class="letras"><!--arreglo vacio --></div>
				<div class="letras"><!--arreglo vacio --></div>
				<div class="letras"><!--arreglo vacio --></div>
				<div class="letras"><!--arreglo vacio --></div>
				<div class="letras"><!--arreglo vacio --></div>
				<div class="letras"><!--arreglo vacio --></div>
				<div class="letras"><!--arreglo vacio --></div>
				<div class="letras"><!--arreglo vacio --></div>
				<div class="letras"><!--arreglo vacio --></div>
				<div class="letras"><!--arreglo vacio --></div>
		    </div>
		</div>
	</div>
	<article>
	<div class="row">
	    <div class="input-field col s12 m10">
          <input maxlength="1" id="first_name" type="text" class="validate">
          <label for="first_name">Ingresa la letra</label>
        </div>
        <a class="waves-effect waves-light btn col s6 m10 pink">button</a>
    </div>
	</article>
	</main>
	<aside>
		<div class="row">
			<div class="col s12 m5">
				<img class="responive-img" src="ahorcado.jpg">
			</div>
			<h4 class="col s12 m4 offset-m1">Intentos: </h4>
		</div>
	</aside>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
</html>